<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ropa.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @ropa.tipo %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@ropa.picture_url, :width => 600) if @ropa.picture.present? %>
</p>
<%= link_to 'Edit', edit_ropa_path(@ropa) %> |
<%= link_to 'Back', ropas_path %>
